/*******************************************************************************
 * _multi_column_layout.demo.scss
 * demo style
 ******************************************************************************/

.multi-column-layout {
  padding: 5px;
  margin: 5px;
  border-style: solid;
  border-width: 3px;

  background-color: rgb(189, 209, 229);
  border-color: rgb(17, 60, 184);
}