/*******************************************************************************
 * _image_with_quote_overlay.base.scss
 * base
 ******************************************************************************/

.image-with-quote-overlay {
  color: white;
  background: rgba(0, 0, 0, .1);
}

@media (min-width: 36em) {

  .image-with-quote-overlay__quote {
    background-color: rgba(0, 0, 0, .25);
  }

}