/*******************************************************************************
 * _image_with_quote_overlay.layout.scss
 * layout
 ******************************************************************************/


.image-with-quote-overlay {
  position: relative;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  .image-with-quote-overlay__image {
    margin: 0;
  }


  .image-with-quote-overlay__image > * > *,
  .image-with-quote-overlay__image > * {
    display: block;
    height: auto;
    width: 100%;
    margin: 0;
  }

  .image-with-quote-overlay__quote,
  .image-with-quote-overlay__citation {
    display: none;
    position: absolute;
  }

  .image-with-quote-overlay__quote {
    left: 0;
    bottom: 0;
    margin: 0 0 5% 5%;
    max-width: 65%;
    padding: 5px 5px 1.75em 5px;
    z-index: 5;
  }

  .image-with-quote-overlay__quote > div > p,
  .image-with-quote-overlay__quote > p {
    margin:0;
  }

  .image-with-quote-overlay__citation {
    right: 0;
    bottom: 0;
    margin: 0 32% 7% 0;
    z-index: 10;
  }

}




@media (min-width: 36em){
  .image-with-quote-overlay {
    .image-with-quote-overlay__quote,
    .image-with-quote-overlay__citation {
      display: block;
    }
  }
}
