/*******************************************************************************
 * _inset-and-text.fonts.scss
 * fonts
 ******************************************************************************/

.inset-and-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 1px;
  line-height: 1.2;
}